body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}

.sticky {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.headerContainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 500px;
  padding-right: 70px;
  padding-left: 70px;
  margin: 0 auto;
  box-sizing: border-box;
}

.headerContainer a {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 14px;
  overflow: hidden;
}

.headerContainer a img {
  display: block;
  width: 100%;
  height: 100%;
}

.mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  margin: 0;
  text-align: center;
  color: #2A3E5D;
}

main {
  min-width: 360px;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 40px 20px;
  box-sizing: border-box;
}

main > section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 34px;
}

main > section > h2 {
  width: 100%;
  max-width: 500px;
  font-size: 28px;
  margin: 0 0 16px;
  text-align: center;
}

.contentContainer {
  width: 100%;
  max-width: 500px;
}

.contentContainer > *:first-child {
  margin-top: 0;
}
.contentContainer > *:last-child {
  margin-bottom: 0;
}

.scrollContainer {
  width: 100%;
  overflow: auto;
}

.screenshots img {
  display: block;
  height: auto;
  max-height: 400px;
}

.storeLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storeLinks a {
  width: 48%;
  height: auto;
  text-decoration: none;
}

.storeLinks a span,
.storeLinks a strong {
  display: block;
  margin-bottom: 10px;
  color: #a8a8a8;
}

.storeLinks a strong {
  margin-bottom: 20px;
}

.storeLinks a img {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .mainTitle {
    font-size: 30px;
  }

  .headerContainer,
  main > section > h2,
  .contentContainer {
    max-width: 700px;
  }

  .storeLinks {
    justify-content: center;
  }

  .storeLinks a {
    width: 250px;
  }

  .storeLinks a:first-child {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .mainTitle {
    font-size: 32px;
  }

  .headerContainer,
  main > section > h2,
  .contentContainer {
    max-width: 800px;
  }

  .screenshots img {
    display: block;
    max-width: none;
    max-height: 460px;
  }

  .storeLinks a {
    width: 260px;
  }
}
